<link rel="stylesheet" href="/static/project_static/other/commons/shared.css">
<link href="/static/project_static/other/js/select2/select2.css" rel="stylesheet" />
<style>
    .select2{
        width: 100% !important;
    }
</style>
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header no_borders" style="background-color:#ffc107;">
            <h5 class="modal-title" id="exampleModalLabel" style="color: white;">Editar Vacuna</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form action="{% url 'edit_vacuna' vacu.id %}" method="post">
            {% csrf_token %}
            <div class="field item form-group mt-3">
                <label class="col-form-label col-md-4 col-sm-4" style="text-align: end;">Grupo<span
                        class="required">*</span></label>
                <div class="col-md-6 col-sm-6">
                    {{ form.id_producto}}
                </div>        
            </div>
            <div class="field item form-group mt-3">
                <label class="col-form-label col-md-4 col-sm-4" style="text-align: end;">Nombre Vacuna Dosis<span
                        class="required">*</span></label>
                <div class="col-md-6 col-sm-6">
                    {{ form.nombre_vacuna }}
                </div>        
            </div>
            <div class="field item form-group mt-3">
                <label class="col-form-label col-md-4 col-sm-4" style="text-align: end;">Periodo Aplicacion </br>Meses<span
                    class="required">*</span></label>
                <div class="col-md-6 col-sm-6">
                    {{ form.periodo_aplicacion }}
                </div>               
            </div>

            <div class="field item form-group mt-3">
                <label class="col-form-label col-md-4 col-sm-4" style="text-align: end;">Multiple Aplicaciones<span
                        class="required">*</span></label>
                <div class="col-md-6 col-sm-6">
                    {{ form.multi_aplicaciones}}
                </div>        
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Editar</button>
            </div>
        </form>
    </div>
</div>


<script src="/static/project_static/vendors/validator/multifield.js"></script>
<script src="/static/project_static/vendors/validator/validator.js"></script>
<script src="/static/project_static/other/js/jquery-timepicker-1.3.5/jquery.timepicker.min.js"></script>
<script src="/static/project_static/other/js/jquery-ui-1.12.1/jquery-ui-1.12.1/jquery-ui.js"></script>
<script src="/static/project_static/other/js/main.js"></script>
<script src="/static/project_static/other/js/sweetalert.min.js"></script>
<script src="/static/project_static/other/js/select2/select2.js"></script>

<script>
 // initialize a validator instance from the "FormValidator" constructor.
    // A "<form>" element is optionally passed as an argument, but is not a must
        var validator = new FormValidator({
        "events": ['blur', 'input', 'change']
    }, document.forms[0]);
    // on form "submit" event
    document.forms[0].onsubmit = function (e) {
        var submit = true,
            validatorResult = validator.checkAll(this);
        return !!validatorResult.valid;
    };
    // on form "reset" event
    document.forms[0].onreset = function (e) {
        validator.reset();
    };
    // stuff related ONLY for this demo page:
    $('.toggleValidationTooltips').change(function () {
        validator.settings.alerts = !this.checked;
        if (this.checked)
            $('form .alert').remove();
    }).prop('checked', false);

    $('form input').on("cut copy paste",function(e) {
            e.preventDefault();
        });

    $("#id_producto").select2({
        language: {
                inputTooShort: function () {
                    return '';
                },
                searching: function () {
                    return 'Buscando...'
                },
                noResults: function(){
                    return 'No se ha encontrado ningún resultado'
                }
            }
        })
</script>