{% load static %}

<link rel="stylesheet" href="{% static 'project_static/other/commons/shared.css'%} ">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header no_borders" style="background-color:#ffc107">
            <h5 class="modal-title" id="exampleModalLabel" style="color: white;">Editar Raza</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="form_edicion" action="{% url 'edit_raza' raza.id %}" method="post">
            {% csrf_token %}
            <div class="field item form-group mt-3">
                <label class="col-form-label col-md-3 col-sm-3  label-align">Nombre Raza<span
                        class="required">*</span></label>
                <div class="col-md-6 col-sm-6">
                    {{ form.nombre_raza}}
                </div>
                <div id="alert_nombre_raza">

                </div>
            </div>
            <div class="field item form-group mt-3">
                <label class="col-form-label col-md-3 col-sm-3  label-align">Especie
                    <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6">
                    {{ form.id_especie }}                        
                </div>
                <div id="alert_id_especie">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Editar</button>
            </div>
        </form>
    </div>
</div>

<script>
    $('#nombre_raza').change(function () {
        var nombre = $("#nombre_raza").val()
        if (nombre !== "") 
        {
            $('#alert_nombre_raza').empty()
        } 
        else {
            if (nombre !== "") 
            {
                $('#alert_nombre_raza').empty()
            }
            else 
            {
                $("#alert_nombre_raza").html('<div class="alert" style="opacity: 1; white-space: inherit">\
                                    Complete este campo\
                                </div>');
            }

        }
    })

    $("#id_especie").change(function(){
        var cuidad = $("#id_especie").val()
        var cuidad_empty = cuidad.replace("---------", "")

        if(cuidad_empty === ""){
            $("#alert_id_especie").html('<div class="alert" style="opacity: 1; white-space: inherit;">\
                                    Seleccione una opción\
                                </div>');
        }
        else{
            $("#alert_id_especie").empty()
        }
    })

    $('form input').on("cut copy paste",function(e) {
            e.preventDefault();
        });
</script>