<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header" style="background-color:#ffc107">
            <h5 class="modal-title" id="exampleModalLabel" style="color: white;">Editar Raza</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="form_edicion" action="{% url 'edit_raza' raza.id %}" method="post">
            {% csrf_token %}
            <div class="field item form-group mt-3">
                <label class="col-form-label col-md-3 col-sm-3  label-align">Nombre Raza<span
                        class="required">*</span></label>
                <div class="col-md-6 col-sm-6">
                    {{ form.nombre_raza}}
                </div>
            </div>
            <div class="field item form-group mt-3">
                <label class="col-form-label col-md-3 col-sm-3  label-align">Especie
                    <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6">
                    {{ form.id_especie }}                        
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Editar</button>
            </div>
        </form>
    </div>
</div>