<link rel="stylesheet" href="/static/project_static/other/commons/shared.css">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header no_borders"style="background-color:#ffc107">
            <h5 class="modal-title" id="exampleModalLabel" style="color: white;">Editar Servicio</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form action="{% url 'edit_servicio' servicios.id %}" method="post">
            {% csrf_token %}
            <div class="field item form-group mt-3">
                <label class="col-form-label col-md-3 col-sm-3  label-align">Nombre Servicio<span
                        class="required">*</span></label>
                <div class="col-md-7 col-sm-6">
                    {{form.nombre_servicio}}
                </div>
                <div id="alert_nombre_servicio">

                </div>              
            </div>

            <div class="field item form-group mt-3">
                <label class="col-form-label col-md-3 col-sm-3  label-align">Precio Servicio<span
                    class="required">*</span></label>
                <div class="col-md-7 col-sm-6">
                    {{form.precio_servicio}}
                </div>
                <div id="alert_precio_servicio">

                </div>
            </div>

            <div class="field item form-group mt-3">
                <label class="col-form-label col-md-3 col-sm-3  label-align">Tiempo por servicio<span
                    class="required">*</span></label>
                <div class="col-md-7 col-sm-6">
                    {{form.min_serv}}
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Editar</button>
            </div>
        </form>
    </div>
</div>

<script>
    $('#nombre_servicio').change(function () {
        console.log("entro")
        var nombre = $("#nombre_servicio").val()
        if (nombre !== "") 
        {
            $('#alert_nombre_servicio').empty()
        } 
        else {
            if (nombre !== "") 
            {
                $('#alert_nombre_servicio').empty()
            }
            else 
            {
                $("#alert_nombre_servicio").html('<div class="alert" style="opacity: 1; white-space: inherit">\
                                    Complete este campo\
                                </div>');
            }

        }
    })

    $('#precio_servicio').change(function () {
        var nombre = $("#precio_servicio").val()
        if (nombre !== "") 
        {
            $('#alert_precio_servicio').empty()
        } 
        else {
            if (nombre !== "") 
            {
                $('#alert_precio_servicio').empty()
            }
            else 
            {
                $("#alert_precio_servicio").html('<div class="alert" style="opacity: 1; white-space: inherit">\
                                    Complete este campo\
                                </div>');
            }

        }
    })

    $('form input').on("cut copy paste",function(e) {
            e.preventDefault();
        });

        $("input[name='precio_servicio']").on({
            "focus": function (event) {
                $(event.target).select();
            },
            "keyup": function (event) {
                $(event.target).val(function (index, value) {
                    return value.replace(/\D/g, "")
                        .replace(/([0-9])([0-9]{3})$/, '$1.$2')
                        .replace(/\B(?=(\d{3})+(?!\d)\.?)/g, ".");
                });
            }
        });
</script>