{% extends 'registration/base_login.html' %}

{% block login %}
<div class="container-login100" style="background-image: url('/static/login_static/images/pet-care.jpg');">
    <div class="wrap-login100 p-t-30 p-b-50">
        <span class="login100-form-title p-b-41">
            Cuenta de Usuario
        </span>
        <form class="login100-form validate-form p-b-33 p-t-5" method="POST" action="{% url 'login'%}">
            {% csrf_token %}   

            <div class="form-group">
            {% if form.error_messages %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>                    
                </button>
                <strong>Advertencia: </strong>{{ form.get_invalid_login_error }}
            </div>       
            {% endif%}
            </div>
            
            <div class="wrap-input100 validate-input" data-validate = "Ingrese su usuario">
                {{ form.username }}
                <span class="focus-input100" data-placeholder="&#xe82a;"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Ingrese su contraseña">
                {{ form.password }}
                <span class="focus-input100" data-placeholder="&#xe80f;"></span>
            </div>

            <div class="container-login100-form-btn m-t-32">
                <button class="login100-form-btn" type="submit">
                    INGRESAR
                </button>
            </div>                        
        </form>

    </div>
</div>

{% endblock login %}    
