{% load static %}

<link rel="stylesheet" href="{% static 'project_static/other/commons/shared.css' %}">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header" style="background-color:#ffc107">
            <h5 class="modal-title" id="exampleModalLabel" style="color: white;">Editar Deposito</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="form_edicion" action="{% url 'edit_deposito' deposito.id %}" method="post">
            {% csrf_token %}
            <div class="field item form-group mt-3">
                <label class="col-form-label col-md-3 col-sm-3  label-align">Nombre Deposito<span
                        class="required">*</span></label>
                <div class="col-md-6 col-sm-6">
                    {{ form.descripcion}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Editar</button>
            </div>
        </form>
    </div>
</div>

<!-- validator -->
<script src="{% static 'project_static/vendors/validator/multifield.js' %}"></script>
<script src="{% static 'project_static/vendors/validator/validator.js' %}"></script>
<script src="{% static 'project_static/other/js/main.js'%} "></script>


<script>
    $(function () {
        // initialize a validator instance from the "FormValidator" constructor.
        // A "<form>" element is optionally passed as an argument, but is not a must
        var validator = new FormValidator({
            "events": ['blur', 'input', 'change']
        }, document.forms[0]);
        // on form "submit" event
        document.forms[0].onsubmit = function (e) {
            var submit = true,
                validatorResult = validator.checkAll(this);
            return !!validatorResult.valid;
        };
        // on form "reset" event
        document.forms[0].onreset = function (e) {
            validator.reset();
        };
        // stuff related ONLY for this demo page:
        $('.toggleValidationTooltips').change(function () {
            validator.settings.alerts = !this.checked;
            if (this.checked)
                $('form .alert').remove();
        }).prop('checked', false);

        $('form input').on("cut copy paste", function (e) {
            e.preventDefault();
        });
    })

</script>