{% extends "home/base_site.html" %}

{% block title %} Lista Productos {% endblock title %}

{% block stylesheets %}
{{ block.super }}
<link href="/static/project_static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="/static/project_static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="/static/project_static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css"
    rel="stylesheet">
<link href="/static/project_static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css"
    rel="stylesheet">
<link href="/static/project_static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
<style>
    .search {
        width: 100%;
        position: relative;
        display: flex;
    }

    .searchTerm {
        width: 100%;
        border: 3px solid #00B4CC;
        border-right: none;
        padding: 5px;
        height: 36px;
        border-radius: 5px 0 0 5px;
        outline: none;
        color: #212529;
    }

    .searchTerm:focus {
        color: #212529;
    }

    .searchButton {
        width: 40px;
        height: 36px;
        border: 1px solid #00B4CC;
        background: #00B4CC;
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
    }

    .dataTables_info {
        width: 0 !important;
    }
</style>
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Lista de Productos</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    {% if messages %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        {% for message in messages %}
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ message }}
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div>

                        {% if perms.producto.add_producto %}
                        <button type="submit" class="btn btn-primary float-right">
                            <a style="color: white;" href="{% url 'add_producto' %}">Agregar nuevo producto</a>
                        </button>
                        {% endif %}

                        <div class="float-left">
                            <div class="wrap">
                                <div class="search">
                                    <input type="search" class="searchTerm" id="searchTerm" data-toggle="tooltip"
                                        data-placement="top" title="Buscar por nombre de producto, codigo"
                                        placeholder="Busca por nombre de producto, codigo"
                                        onkeyup="replaceDirection(this)">
                                    <button type="button" id="busqueda" class="searchButton">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12 p-0">
                                <div class="card-box table-responsive" style="text-align: center;">
                                    <table id="list_producto" class="table table-striped table-bordered"
                                        style="width:100%">
                                        <thead>
                                            <tr class="" style="background-color: #2a3f54; font-size: medium;">
                                                <th style="color: white;">Codigo</th>
                                                <th style="color: white;">Nombre Producto</th>
                                                <th style="color: white;">Descripción</th>
                                                <th style="color: white;">Stock Total</th>
                                                <th style="color: white;">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

               <!-- <div class="x_panel">
                    <div class="x_title">
                        <h2>Lista de Productos en Vencimiento</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div>

                        <div class="float-left">
                            <div class="wrap">
                                <div class="search">
                                    <input type="search" class="searchTerm" id="searchTermVencido" data-toggle="tooltip"
                                        data-placement="top" title="Buscar por nombre de producto, codigo"
                                        placeholder="Busca por nombre de producto, codigo"
                                        onkeyup="replaceDirection(this)">
                                    <button type="button" id="busquedaVencido" class="searchButton">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12 p-0">
                                <div class="card-box table-responsive" style="text-align: center;">
                                    <table id="list_producto_vencidos" class="table table-striped table-bordered"
                                        style="width:100%">
                                        <thead>
                                            <tr class="" style="background-color: #2a3f54; font-size: medium;">
                                                <th style="color: white;">Codigo</th>
                                                <th style="color: white;">Nombre Producto</th>
                                                <th style="color: white;">Descripción</th>
                                                <th style="color: white;">Stock Vencido</th>
                                                <th style="color: white;">Fecha Vencimiento</th>
                                                <th style="color: white;">Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>-->

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div></div>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#dc3545 ;">
                <h5 class="modal-title" id="exampleModalLabel" style="color: white;">Dar de baja Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="content-value-name">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" id="confirmDeleteButtonModal" class="btn btn-danger">Dar de Baja</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
{{ block.super }}
<!-- Datatables -->
<script src="/static/project_static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/project_static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="/static/project_static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/static/project_static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="/static/project_static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="/static/project_static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/static/project_static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/static/project_static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="/static/project_static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="/static/project_static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/project_static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="/static/project_static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script src="/static/project_static/vendors/jszip/dist/jszip.min.js"></script>
<script src="/static/project_static/vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="/static/project_static/vendors/pdfmake/build/vfs_fonts.js"></script>

<script>
    $(function () {
        $(document).on('click', '.confirm-delete', function () {
            console.log("entro")
            var id_producto = $(this).data("id")
            $("#content-value-name").html('<div class="modal-body" style="font-size: 16px; color: #383232c7;">\
                                                Estás seguro/a que deseas dar de baja este producto?\
                                            </div>');
            sessionStorage.setItem("id_producto", id_producto)
        });

        $(document).on('click', '#confirmDeleteButtonModal', function () {
            var id_producto = sessionStorage.getItem('id_producto');
            sessionStorage.removeItem('id_producto');
            var url = "{% url 'delete_producto' 1 %}"
            window.location = url.replace('1', id_producto);
        })


        $('input').on("cut copy paste", function (e) {
            e.preventDefault();
        });

        var get_list = function (busqueda) {
            $("#list_producto").DataTable({
                destroy: true,
                dom: 'Bfrtip',
                buttons: [                
                    {
                        extend: 'pdfHtml5',
                        text: 'Exportar PDF',
                        exportOptions: {
                            columns: [0,1,2,3]
                        }
                    },
                ],
                searching: false,
                pageLength: 10,
                ajax: {
                    url: "/producto/list_general_ajax/",
                    type: 'GET',
                    datatype: 'json',
                    data: { 'busqueda': busqueda },
                    error: function (data) {
                        $.fn.DataTable.ext.errorMode = 'none'

                    }
                },
                columns: [
                    {
                        name: 'Codigo',
                        data: 'id',
                    },
                    {
                        name: 'Nombre Producto',
                        data: 'nombre',
                    },
                    {
                        name: 'Descripción',
                        data: 'descripcion',
                    },
                    {
                        name: 'Stock Total',
                        data: 'stock_total',
                    },
                    {
                        name: 'Acciones',
                        data: 'id',
                        render: function (data) {
                            var buttons = "";
                            {% if perms.producto.change_producto %}
                            buttons += '<button class="btn btn-warning">\
                                                        <a href="/producto/edit/' + data + '/" style="color: black">\
                                                            Editar\
                                                        </a>\
                                                    </button>';
                            {% endif %}

                            {% if perms.producto.view_producto %}
                            buttons += '<button class="btn btn-primary" >\
                                            <a href="/producto/listDetalle/' + data + '/" style="color: white">\
                                                Ver Detalle\
                                            </a>\
                                        </button >';
                            {% endif %}


                            return buttons;
                        }
                    }

                ],
                columnDefs: [{
                    targets: [2, 4], // column index (start from 0)
                    orderable: false, // set orderable false for selected columns
                }],
                serverSide: false,
                language: {
                    decimal: "",
                    emptyTable: "No hay información",
                    info: "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    infoEmpty: "Mostrando 0 to 0 de 0 Entradas",
                    infoFiltered: "(Filtrado de _MAX_ total entradas)",
                    infoPostFix: "",
                    thousands: ",",
                    lengthMenu: "Mostrar _MENU_ Entradas",
                    loadingRecords: "Cargando...",
                    processing: "Procesando...",
                    search: "Buscar:",
                    zeroRecords: "Sin resultados encontrados",
                    paginate: {
                        first: "Primero",
                        last: "Ultimo",
                        next: "Siguiente",
                        previous: "Anterior",
                    },
                },

            })
        }

        var query = ""

        get_list(query);

        $("#searchTerm").change(function () {
            var busqueda = $("#searchTerm").val()
            sessionStorage.setItem("busqueda", busqueda)
        })

        $("#busqueda").click(function () {
            var busqueda = sessionStorage.getItem("busqueda")
            if (busqueda == "" || busqueda == undefined || busqueda == null) {
                busqueda = "";
                get_list(busqueda)
            }
            else {
                get_list(busqueda)
            }
        })

        //productos vencido
        var get_list_vencidos = function (busqueda) {
            $("#list_producto_vencidos").DataTable({
                destroy: true,
                dom: 'Bfrtip',
                buttons: [],
                searching: false,
                pageLength: 10,
                ajax: {
                    url: "/producto/list_producto_vencido_ajax/",
                    type: 'GET',
                    datatype: 'json',
                    data: { 'busqueda': busqueda },
                    error: function (data) {
                        $.fn.DataTable.ext.errorMode = 'none'

                    }
                },
                columns: [
                    {
                        name: 'Codigo',
                        data: 'id',
                    },
                    {
                        name: 'Nombre Producto',
                        data: 'nombre',
                    },
                    {
                        name: 'Descripción',
                        data: 'descripcion',
                    },
                    {
                        name: 'Stock Vencido',
                        data: 'stock_vencido',
                    },
                    {
                        name: 'Fecha Vencimiento',
                        data: 'fecha_vencimiento',
                    },
                    {
                        name: 'Acción',
                        data: 'id',
                        render: function (data) {
                            {% if perms.producto.delete_producto %}
                            return ' <button class="btn btn-danger">\
                                        <a class="confirm-delete pointer" data-id="' + data + '"\
                                            data-toggle="modal" data-target="#confirmDeleteModal">\
                                            Dar de baja\
                                        </a>\
                                    </button>';
                            {% endif %}

                            return "-";
                        }
                    }

                ],
                columnDefs: [{
                    targets: [5], // column index (start from 0)
                    orderable: false, // set orderable false for selected columns
                }],
                serverSide: false,
                language: {
                    decimal: "",
                    emptyTable: "No hay información",
                    info: "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    infoEmpty: "Mostrando 0 to 0 de 0 Entradas",
                    infoFiltered: "(Filtrado de _MAX_ total entradas)",
                    infoPostFix: "",
                    thousands: ",",
                    lengthMenu: "Mostrar _MENU_ Entradas",
                    loadingRecords: "Cargando...",
                    processing: "Procesando...",
                    search: "Buscar:",
                    zeroRecords: "Sin resultados encontrados",
                    paginate: {
                        first: "Primero",
                        last: "Ultimo",
                        next: "Siguiente",
                        previous: "Anterior",
                    },
                },

            })
        }

        var query = ""

        get_list_vencidos(query);

        $("#searchTermVencido").change(function () {
            var busqueda = $("#searchTermVencido").val()
            sessionStorage.setItem("busquedaVencido", busqueda)
        })

        $("#busquedaVencido").click(function () {
            var busqueda = sessionStorage.getItem("busquedaVencido")
            if (busqueda == "" || busqueda == undefined || busqueda == null) {
                busqueda = "";
                get_list_vencidos(busqueda)
            }
            else {
                get_list_vencidos(busqueda)
            }
        })
    })

</script>


{% endblock javascripts %}