{% extends "home/base_site.html" %}

{% block title %} Reporte {% endblock title %}

{% block stylesheets %}
{{ block.super }}
<link href="/static/project_static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="/static/project_static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="/static/project_static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css"
    rel="stylesheet">
<link href="/static/project_static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css"
    rel="stylesheet">
<link href="/static/project_static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
<style>
    .search {
        width: 100%;
        position: relative;
        display: flex;
    }

    .searchTerm {
        width: 100%;
        border: 3px solid #00B4CC;
        border-right: none;
        padding: 5px;
        height: 36px;
        border-radius: 5px 0 0 5px;
        outline: none;
        color: #212529;
    }

    .searchTerm:focus {
        color: #212529;
    }

    .searchButton {
        width: 40px;
        height: 36px;
        border: 1px solid #00B4CC;
        background: #00B4CC;
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
    }

    .dataTables_info {
        width: 0 !important;
    }
</style>
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Reportes</h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-6 col-sm-6  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Productos más vendidos</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>

                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="float-left">
                        <div class="wrap">
                            <div class="search">
                                <div class="d-inline-flex">
                                    <input type="search" class="searchTerm" id="searchTermVendidos"
                                        data-toggle="tooltip" data-placement="top"
                                        title="Bucar por nombre de producto"
                                        placeholder="Bucar por nombre de producto"
                                        onkeyup="replaceDirection(this)">
                                    <button type="button" id="busquedaVendido" class="searchButton">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="x_content" id="vendidos">
                        <canvas id="produc-vendi"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
{{ block.super }}
<!-- Datatables -->
<script src="/static/project_static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/project_static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="/static/project_static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/static/project_static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="/static/project_static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="/static/project_static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/static/project_static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/static/project_static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="/static/project_static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="/static/project_static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/project_static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="/static/project_static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script src="/static/project_static/vendors/jszip/dist/jszip.min.js"></script>
<script src="/static/project_static/vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="/static/project_static/vendors/pdfmake/build/vfs_fonts.js"></script>
<script src="/static/project_static/vendors/Chart.js/dist/Chart.min.js"></script>
<script src="/static/project_static/other/js/reportes/productos_vendidos.js"></script>

<script>

    $(function () {
        $('form input').on("cut copy paste", function (e) {
            e.preventDefault();
        });

        //Productos mas vendidos
        var get_product_vendido = function(busqueda){
            $.ajax({
                url: "/reporte/get_productos_vendidos/",
                type: 'GET',
                datatype: 'json',
                data: {'busqueda': busqueda},
                success: function(response) {
                    if(response.mensaje != ""){
                        $('#produc-vendi').remove(); // this is my <canvas> element
                        $('#vendidos').append('<canvas id="produc-vendi"><canvas>');
                        var ctx = document.getElementById('produc-vendi').getContext('2d');

                        new Chart(ctx, {
                            type: 'bar',
                            data: {
                                datasets:[{
                                    data: response.data_producto_ven,
                                    backgroundColor: "#73879c",
                                    label: 'Cantidad',
                                }],
                                labels: response.label_producto_ven,
                            },
                            options: {
                                responsive: true
                            }
                        });
                    }
                },
                error: function(error){

                }
            })
        }

        var query = ""

        get_product_vendido(query);

        $("#searchTermVendidos").change(function(){
            var busqueda = $("#searchTermVendidos").val()
            sessionStorage.setItem("busquedaVendido", busqueda)
        })

        $("#busquedaVendido").click(function(){
            var busqueda = sessionStorage.getItem("busquedaVendido")
            if(busqueda == "" || busqueda == undefined || busqueda == null){
                busqueda = "";
                get_product_vendido(busqueda)
            }
            else{
                get_product_vendido(busqueda)
            }
        }) 

        //End Productos mas vendidos
    })


</script>


{% endblock javascripts %}