<link rel="stylesheet" href="/static/project_static/other/commons/shared.css">
<link rel="stylesheet"
    href="/static/project_static/other/js//jquery-ui-themes-1.12.1/jquery-ui-themes-1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/static/project_static/other/js/jquery-timepicker-1.3.5/jquery.timepicker.min.css">
<style>
    .alert {
        display: none;
    }
</style>

<div class="modal-dialog" role="document">
    <div class="modal-content" style="box-shadow: 0 10px 20px 0 rgba(0,0,0,.05);">
        <div class="modal-header no_borders">
            <h5 class="modal-title" id="exampleModalLabel">Agregar Reserva</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form class="" action="{% url 'add_reserva' %}" method="POST" id="form">
            {% csrf_token %}
            <div class="field item form-group" style="display: grid;">
                <label class="col-form-label col-md-6 col-sm-3">Descripción Reserva</label>
                <div class="col-md-12 col-sm-6">
                    <textarea class="form-control optional" name="descripcion" id="descripcion"
                        placeholder="Descripción de la reserva" onkeyup="replaceDirection(this)"></textarea>
                </div>
            </div>
            <div id="id_fecha_reserva">

            </div>
            <div class="field item form-group" style="display: grid;">
                <label class="col-form-label col-md-6 col-sm-3">Servicio<span class="required">*</span></label>
                <div class="col-md-12 col-sm-6">
                    {{form.id_servicio}}
                </div>
            </div>

            <div class="field item form-group d-none" id="id_reserva_hora" style="display: grid;">
                <label class="col-form-label col-md-6 col-sm-3">Hora Reserva
                    <span class="required">*</span>
                </label>
                <div class="col-md-12 col-sm-6" id="hora_input">
                    
                </div>
            </div>
            <div class="field item form-group" style="display: grid;">
                <label class="col-form-label col-md-3 col-sm-3">Cliente<span class="required">*</span></label>
                <div class="col-md-12 col-sm-6">
                    {{form.id_cliente}}
                </div>
            </div>

            <div class="field item form-group d-none" id="id_mascota_cliente" style="display: grid;">
                <label class="col-form-label col-md-3 col-sm-3">Mascota<span class="required">*</span></label>
                <div class="form-control" id="list_mascota">

                </div>
            </div>
            <input type="hidden" name="disponible_emp" value="N" />
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Agregar</button>
            </div>
        </form>
    </div>
</div>

<div class="modal" id="mensaje">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#dc3545 ;">
                <h5 class="modal-title" style="color: white;">Mensaje</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="id_mensaje_alert" style="font-size: 25px; text-align: center;">

                </div>
            </div>
        </div>
    </div>
</div>

<!-- validator -->
<script src="/static/project_static/vendors/validator/multifield.js"></script>
<script src="/static/project_static/vendors/validator/validator.js"></script>
<script src="/static/project_static/other/js/main.js"></script>
<script src="/static/project_static/other/js/jquery-timepicker-1.3.5/jquery.timepicker.min.js"></script>

<script src="/static/project_static/other/js/jquery-ui-1.12.1/jquery-ui-1.12.1/jquery-ui.js"></script>
<script>
    // initialize a validator instance from the "FormValidator" constructor.
    // A "<form>" element is optionally passed as an argument, but is not a must
    var validator = new FormValidator({
        "events": ['blur', 'input', 'change']
    }, document.forms[0]);
    // on form "submit" event
    document.forms[0].onsubmit = function (e) {
        var submit = true,
            validatorResult = validator.checkAll(this);
        return !!validatorResult.valid;
    };
    // on form "reset" event
    document.forms[0].onreset = function (e) {
        validator.reset();
    };
    // stuff related ONLY for this demo page:
    $('.toggleValidationTooltips').change(function () {
        validator.settings.alerts = !this.checked;
        if (this.checked)
            $('form .alert').remove();
    }).prop('checked', false);

    $(function () {
        $(document).on('click', '#confirmDeleteButtonModal', function () {
            var id = $(this).data("id-reserva")
            var url = '/reserva/bajaReserva/' + id;
            window.location = url;
        })

        $('form input').on("cut copy paste", function (e) {
            e.preventDefault();
        });

        $("#datepicker").change(function () {
            var fecha = $("#datepicker").val()

            sessionStorage.setItem("fecha", fecha)
        })

        $("#id_servicio").change(function () {
            var servicio = $("#id_servicio").val()

            if (servicio !== "" && servicio != null) {
                sessionStorage.setItem("servicio", servicio)

                var urlValidate = "/reserva/getTimeServices"
                $.ajax({
                    data: { 'servicio': servicio },
                    url: urlValidate,
                    success: function (response) {
                        if (response.mensaje != "") {
                            var inputHora = '<input class="form-control timepicker" type="text" name="hora_reserva" id="hora_reserva" required="required">';
                            $("#form").find("#id_reserva_hora").removeClass("d-none");
                            $("#hora_input").html(inputHora)
                            var timeServ = parseInt(response.tiempo)

                            $(".timepicker").timepicker({
                                interval: timeServ,
                                minTime: '8',
                                maxTime: '18:00',
                                defaultTime: '8',
                                startTime: '08:00',
                                dropdown: true,
                                scrollbar: true,
                                zindex: 1151,
                                timeFormat: 'HH:mm',
                            });
                        }
                        else {
                            $("#form").find("#id_reserva_hora").addClass("d-none")

                        }
                    },
                    error: function (response) {
                        /*<select class="form-control" required='required' name="id_ciudad" id="id_cuidad">
                                        <option required='required'>Seleccione una Cuidad</option>
                                        {% for cui in cuidad %}
                                        <option required="required" value={{ cui.id}}>{{ cui.nombre_ciudad }}</option>
                                        {% endfor %}
                                    </select>  */
                    }
                })
            }
            else{
                $("#form").find("#id_reserva_hora").addClass("d-none")
            }
        })

        var today = sessionStorage.getItem("fecha_seleccionada")


        $("#id_fecha_reserva").html('<input type="hidden" name="fecha_reserva" id="fecha_reserva" value="' + today + '"/>');        

        $("#id_cliente").change(function () {
            var id_cliente = $("#id_cliente").val()
            if (id_cliente !== "" && id_cliente != null) {
                sessionStorage.setItem("id_cliente", id_cliente)
                var urlValidate = "/reserva/getMascotaCliente"
                $.ajax({
                    data: { 'id_cliente': id_cliente },
                    url: urlValidate,
                    success: function (response) {
                        var mascotas = JSON.parse(response.mascota);
                        if (response.mensaje != "") {
                            var selectMascota = '<select class="form-control" required="required" name="id_mascota" id="id_mascota">\
                                                    <option>Seleccione la mascota</option>';
                            $.each(mascotas, function (i, data) {
                                selectMascota += "<option required='required' value='" + data.id + "'>" + data.nombre + "</option>";
                            });

                            selectMascota += '</select>';
                            $("#form").find("#id_mascota_cliente").removeClass("d-none");
                            $("#list_mascota").html(selectMascota)
                        }
                        else {
                            $("#form").find("#id_mascota_cliente").addClass("d-none")
                        }
                    },
                    error: function (response) {
                        /*<select class="form-control" required='required' name="id_ciudad" id="id_cuidad">
                                        <option required='required'>Seleccione una Cuidad</option>
                                        {% for cui in cuidad %}
                                        <option required="required" value={{ cui.id}}>{{ cui.nombre_ciudad }}</option>
                                        {% endfor %}
                                    </select>  */
                    }
                })
            }
        })

        $(document).on("change", "#id_mascota", function () {
            var id_cliente = sessionStorage.getItem("id_cliente")
            var fecha = today;
            var servicio = sessionStorage.getItem("servicio")
            var hora = $(".timepicker").val()
            var id_mascota = $("#id_mascota").val()

            if ((fecha != "" || fecha != null) && (servicio != "" || servicio != null) && (hora != "" || hora != null) && (id_cliente != "" || id_cliente != null) && (id_mascota != "" || id_mascota != null)) {
                var urlValidate = "/reserva/validarDatos/"
                $.ajax({
                    data: { 'fecha': fecha, 'servicio': servicio, 'hora': hora, 'id_cliente': id_cliente, 'id_mascota': id_mascota},
                    url: urlValidate,
                    success: function (response) {
                        console.log(response)
                        if (response.mensaje != "") {
                            $("#id_mensaje_alert").html('<div>' + response.mensaje + '</div>');
                            $('#mensaje').modal('show');
                        }
                    },
                    error: function (response) {

                    }
                })
            }
        })
    })



</script>