{% extends "home/base_site.html" %}
{% load static %}

{% block title %} Lista Reservas {% endblock title %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'project_static/other/commons/lib/main.css' %}">
<style>
    .fc-daygrid-event {
        cursor: pointer !important;
    }
</style>
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Calendario de Reservas</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        {% if messages %}
        <div class="alert alert-success alert-dismissible" role="alert">
            {% for message in messages %}
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div id='calendar'></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="creacion" role="dialog" data-backdrop="static" data-keyboard="false">

</div>

<div class="modal fade" id="edicion" role="dialog" data-backdrop="static" data-keyboard="false">

</div>
{% endblock content %}

{% block javascripts %}
{{ block.super }}

<script src="{% static 'project_static/other/commons/lib/main.js' %}"></script>
<script src="{% static 'project_static/other/commons/lib/locales-all.min.js' %}"></script>
<script src="{% static 'project_static/other/js/sweetalert.min.js' %}"></script>


<script>
    $(document).on('click', '#close_button, #close_x', function () {
        window.location.reload()
    });

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
            },
            locale: 'es',
            navLinks: true, // can click day/week names to navigate views
            businessHours: true, // display business hours
            editable: false,
            selectable: true,
            dateClick: function (info) {
                // leemos las fechas de inicio de evento y hoy
                var check = moment(info.dateStr).format('YYYY-MM-DD');
                var today = moment(new Date()).format('YYYY-MM-DD');
                var d = info.date;
                var dateValue = d.getDay();                 
                {% if perms.reserva.add_reserva %}
                    if(dateValue  === 0 || dateValue === 6){
                        swal({
                            title: "Notificación",
                            text: "No puedes agendar sabados y domingos!",
                            icon: "warning",
                            button: "Ok",
                        })

                    }else{                        
                        if (check >= today) {
                            var url = '/reserva/addReserva/'
                            var today = info.dateStr;
                            sessionStorage.setItem('fecha_seleccionada', today)
                            $('#creacion').load(url, today, function () {
                                $(this).modal('show');
                            });
                            calendar.unselect()                   
                        }
                        // si no, mostramos una alerta de error
                        else {
                            swal({
                                    title: "Notificación",
                                    text: "No se pueden crear eventos en fechas pasadas!",
                                    icon: "warning",
                                    button: "Ok",
                                })
                            }
                    }
                {% else %}
                            swal({
                                    title: "Notificación",
                                    text: "No tienes permisos para agregar nuevos eventos!",
                                    icon: "warning",
                                    button: "Ok",
                                })
                {% endif %}

            },
            eventClick: function (arg) {
                {% if perms.reserva.change_reserva %}

                    var url = '/reserva/editReserva/' + arg.event.groupId;
                    $('#edicion').load(url, function () {
                        $(this).modal('show');
                    });
                {% else %}
                            swal({
                                    title: "Notificación",
                                    text: "No tienes permisos para editar los eventos!",
                                    icon: "warning",
                                    button: "Ok",
                                })
                {% endif %}

            },
            events: [
                {% for reserva in page_obj %}
                    {
                groupId: "{{ reserva.id }}",
                title: "{{ reserva.id_servicio.nombre_servicio }}",
                start: '{{ reserva.fecha_reserva |  date:"Y-m-d" }}T{{reserva.hora_reserva}}',
                color: "{{ reserva.color_estado }}"
            },
            {% endfor %}
            ]   
        });
    calendar.render();
    $(document).on("click", "#menu_toggle", function () {
        calendar.render();
    })
    });

    $(function () {

        $('form input').on("cut copy paste", function (e) {
            e.preventDefault();
        });
    });
</script>


{% endblock javascripts %}