<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header" style="background-color:#ffc107">
            <h5 class="modal-title" id="exampleModalLabel" style="color: white;">Editar Especie</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="form_edicion" action="{% url 'edit_especie' especie.id %}" method="post">
            {% csrf_token %}
            <div class="field item form-group mt-3">
                <label class="col-form-label col-md-3 col-sm-3  label-align">Nombre Especie<span
                        class="required">*</span></label>
                <div class="col-md-6 col-sm-6">
                    {{ form.nombre_especie}}
                </div>
                <div id="alert_nombre_especie">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Editar</button>
            </div>
        </form>
    </div>
</div>

<script>
    $('#nombre_especie').change(function () {
        var nombre = $("#nombre_especie").val()
        if (nombre !== "") 
        {
            $('#alert_nombre_especie').empty()
        } 
        else {
            if (nombre !== "") 
            {
                $('#alert_nombre_especie').empty()
            }
            else 
            {
                $("#alert_nombre_especie").html('<div class="alert" style="opacity: 1; white-space: inherit">\
                                    Complete este campo\
                                </div>');
            }

        }
    })

    $('form input').on("cut copy paste",function(e) {
        e.preventDefault();
    });
</script>