{% extends "home/base_site.html" %}

{% block title %} Lista Cliente {% endblock title %}

{% block stylesheets %}
{{ block.super }}
<link href="/static/project_static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="/static/project_static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="/static/project_static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css"
    rel="stylesheet">
<link href="/static/project_static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css"
    rel="stylesheet">
<link href="/static/project_static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Lista de Cliente</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <button type="submit" class="btn btn-primary">
                                <a style="color: white;" href="{% url 'add_cliente' %}">Agregar nuevo cliente</a>
                            </button>
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                                    <table id="" class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                            <tr class="" style="background-color: #2a3f54; font-size: medium;">
                                                <th style="color: white;">Nombres</th>
                                                <th style="color: white;">Apellidos</th>
                                                <th style="color: white;">Cédula</th>
                                                <th style="color: white;">Telefono</th>
                                                <th style="color: white;">Cuidad</th>
                                                <th style="color: white;">Dirección</th>
                                                <th style="color: white;">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {% for cliente in clientes %}
                                            <tr style="font-size: medium;">
                                                <td>{{ cliente.nombre_cliente}}</td>
                                                <td>{{ cliente.apellido_cliente}}</td>
                                                <td>{{ cliente.direccion}}</td>
                                                <td>{{ cliente.cedula}}</td>
                                                <td>{{ cliente.telefono}}</td>
                                                <td>{{ cliente.id_ciudad}}</td>
                                                <td>
                                                    <a href="{% url 'edit_cliente' cliente.id %}">
                                                        <i class="fas fa-pencil-alt" style="color: #ffc107;"></i>
                                                    </a>
                                                    <a class="confirm-delete pointer" data-id="{{ cliente.id }}"
                                                        data-name-cliente="{{ cliente.nombre_cliente }}">
                                                        <i class="fas fa-trash" data-toggle="modal"
                                                            data-target="#confirmDeleteModal" style="color: #dc3545;">
                                                        </i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div></div>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#dc3545 ;">
                <h5 class="modal-title" id="exampleModalLabel" style="color: white;">Eliminar Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="content-value-name">

            </div>           
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" id="confirmDeleteButtonModal" class="btn btn-danger">Eliminar</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
{{ block.super }}
<!-- Datatables -->
<script src="/static/project_static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/project_static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="/static/project_static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/static/project_static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="/static/project_static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="/static/project_static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/static/project_static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/static/project_static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="/static/project_static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="/static/project_static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/project_static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="/static/project_static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script src="/static/project_static/vendors/jszip/dist/jszip.min.js"></script>
<script src="/static/project_static/vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="/static/project_static/vendors/pdfmake/build/vfs_fonts.js"></script>

<script>
    $(function () {
        $(document).on('click', '.confirm-delete', function () {
            var id_cliente = $(this).data("id")
            var name_cliente = $(this).data("name-cliente")
            $("#content-value-name").html('<div class="modal-body" style="font-size: 16px; color: #383232c7;">\
                                                Estás seguro/a que deseas eliminar a <strong>'+ name_cliente +'</strong> ?\
                                            </div>');
            sessionStorage.setItem("id_cliente", id_cliente)
            sessionStorage.setItem("name_cliente", name_cliente)
        });

        $(document).on('click', '#confirmDeleteButtonModal', function () {
            var id_cliente = sessionStorage.getItem('id_cliente');
            var name_cliente = sessionStorage.getItem('name_cliente')
            sessionStorage.removeItem('id_cliente');
            sessionStorage.removeItem('name_cliente');
            var url = "{% url 'delete_cliente' 1 %}"
            window.location = url.replace('1', id_cliente);
        })
    })
</script>


{% endblock javascripts %}